* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  height: 100%;
}

h1 {
  font-size: 50px;
  color: #f04d2a;
}
h2 {
  padding-top: 20px;
  padding-bottom: 60px;
}

p {
  font-size: 20px;
}
a {
  text-decoration: none;
}

/*Alert*/
.swal-button {
  padding: 7px 19px;
  border-radius: 15px;
  background-color: #f04d2a;
  font-size: 15px;
}

/*Base*/
.container {
  position: relative;
  z-index: 0;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: inline-block;
  background-color: #efefef;
}

/*Inicio*/
#container_left {
  width: 65%;
  height: 100vh;
  float: left;
  position: relative;
  text-align: left;
  background-color: #efefef;
}

#container_right {
  width: 35%;
  height: 100vh;
  float: right;
  position: relative;
  background-color: #f04d2a;
}

.imagem_principal {
  position: absolute;
  float: right;
  top: 15%;
  left: 48%;
  z-index: 1;

  width: 35%;
  height: 70%;
  border-radius: 50%;
}
.page-title {
  font-size: 60px;
  text-align: center;
  float: left;
  margin: 20% 0 0 15%;
}

.page-subtitle {
  color: black;
  margin: 5% 0 0 13%;
  text-align: left;
  float: left;
}
.logo {
  width: 25%;
  position: absolute;
  top: 2%;
  left: 10%;
}

/*Botao saiba mais*/
.btn {
  margin: 60% 0 0 13%;
  padding: 10px 15px 10px 15px;
  width: 100px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  background-color: #f04d2a;
  border-radius: 20px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.btn_laranja_seta {
  padding: 5px;
  margin: 1% 5%;
  width: 50px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  background-color: #f04d2a;
  border-radius: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  float: right;
}

.btn:hover,
.btn_laranja_seta:hover {
  background-color: #fa7241;
  transition: background 1s;
}
.btn_branca_seta {
  padding: 5px;
  margin: 10% 5%;
  width: 50px;
  color: #f04d2a;
  font-size: 40px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  float: right;
}
.btn_branca_seta:hover {
  background-color: #efefef;
  transition: background 1s;
}

/*Localização dos escritórios*/
#imagem_mapa {
  margin: 8% 10% 8% 10%;
  float: left;
}

#nossos_escritorios {
  margin: 8% 10% 8%;
}
#nossos_escritorios > p {
  text-align: left;
}

/*Como irá funcionar*/
#container_top {
  position: relative;
  z-index: 1;
  padding: 5% 12% 0 12%;
  background-color: #f04d2a;
  text-align: center;
  color: #ffffff;
  height: 60%;
}

#container_top > h1 {
  color: #ffffff;
}
#container_bottom {
  position: relative;
  z-index: 2;
  background-color: #efefef;
  height: 40%;
}

.cards {
  display: flex;
  position: absolute;
  z-index: 3;
  left: 16%;
  top: 48%;
}
.cards > img {
  margin-right: 50px;
  border-radius: 20px;
}

/*Medidas de segurança*/
.card_regras {
  display: flex;
  align-items: baseline;
  position: absolute;
  z-index: 3;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  left: 8%;
  top: 38%;
}
.card_regras > img {
  border-radius: 20px;
}
.card_regras > div {
  width: 20%;
  margin-right: 50px;
}

.card_regras > div > p {
  margin-top: 10px;
}
#container_top_regras {
  position: relative;
  z-index: 1;
  padding: 5% 12% 0 12%;
  background-color: #efefef;
  color: #f04d2a;
  text-align: center;
  height: 50%;
}

#container_bottom_regras {
  position: relative;
  z-index: 2;
  background-color: #f04d2a;
  color: #ffffff;
  height: 50%;
}

/*Contatos*/
#container_left_contatos {
  width: 35%;
  height: 100vh;
  float: left;
  position: relative;
  background-color: #f04d2a;
}

#container_right_contatos {
  width: 65%;
  height: 100vh;
  float: right;
  position: relative;
  text-align: center;
  background-color: #efefef;
}

#container_right_contatos > div {
  padding: 10% 15% 10% 25%;
}
#container_right_contatos > div > p {
  text-align: left;
}

.imagem_contatos {
  position: absolute;
  float: left;
  top: 15%;
  left: 10%;
  z-index: 1;
  width: 35%;
  height: 70%;
  border-radius: 50%;
}

/* Configurações Resposiva*/

@media screen and (max-width: 768px) {
  /*INICIO*/
  .imagem_principal {
    top: 65%;
    left: 8%;
    width: 70%;
    height: 25%;
    border-radius: 10px;
  }
  .logo {
    width: 50%;
  }
  #container_left {
    width: 85%;
  }
  #container_right {
    width: 15%;
  }
  .page-title {
    font-size: 45px;
    margin: 32% 0 0 8%;
  }

  .page-subtitle {
    font-size: 20px;
  }

  .btn {
    float: left;
    margin: 10% 0 0 30%;
  }
  /*Localidade dos escritorios*/
  #imagem_mapa {
    display: none;
  }

  /*Funcionamento*/
  #container_top {
    padding: 8% 8% 0 8%;
    height: 85%;
  }

  #container_top > p {
    text-align: justify;
    font-size: 18px;
  }

  #container_bottom {
    height: 15%;
  }
  .cards {
    left: 4%;
    top: 70%;
  }
  .cards > img {
    width: 110px;
    margin-right: 10px;
    border-radius: 20px;
  }

  /*Medidas de segurança*/

  #container_top_regras {
    height: 85%;
  }

  #container_bottom_regras {
    height: 15%;
  }
  .card_regras {
    flex-wrap: wrap;
    color: black;
    left: 15%;
    top: 20%;
  }

  .card_regras > div {
    width: 24%;
    margin: 10px 70px 0 10px;
  }
  .card_regras > div > img {
    width: 110px;
  }
  .card_regras > div > p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  .btn_branca_seta {
    margin: 3% 5%;
  }

  /*Contatos*/
  #container_left_contatos {
    width: 15%;
  }

  #container_right_contatos {
    width: 85%;
  }

  #container_right_contatos > div {
    padding: 10% 15% 10% 15%;
  }

  .imagem_contatos {
    display: none;
  }
}
